.body{
}

#gl-canvas{
	width:100%;
	height:100%;
}

.container {
    position: relative;
}
 
#text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#gl-setting{
	width:800px;
}

#gl-setting p{
	float:left;
	margin-left:20px;
}

#gl-text{
	width:200px;
	float:right;
	margin-top:-600px;
	margin-right:250px;
	font-size:15px;
}